---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="https://twitter.com/SmileSharks?utm_source=portfolio_astro" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
	</a>
</div>
